
# ignore all files, directories
*

# except
!.gitignore

# !nvim
# !nvim/*
# !./nvim/*

!tmux
!tmux/*

!shell
!shell/*

!i3
!i3/*

!sesh
!sesh/*

# but also, ignore these within those directories
shell/.zcompdump
tmux/plugins
